.home_screen {
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  padding: 2em;
}

.home_screen_content {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.home_screen_title {
  color: white;
  align-self: center;
  font-weight: 600;
  font-size: 2em;
  text-align: center;
  width: 100%;
}

.home_screen_description {
  color: rgba(128, 128, 128, 0.75);
  font-size: 1em;
  text-align: center;
  width: 100%;
}

.home_screen_action_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  width: 100%;
}

.home_screen_upper_content {
  padding-top: 2.5em;
}

.home_screen_footer {
  padding-bottom: 1em;
  color: rgba(128, 128, 128, 0.5);
  text-align: center;
}

.home_screen_instructions_modal {
  background-color: rgba(0, 0, 0, 0.75) !important;
  border: 1px solid white;
  border-radius: 1em;
  color: white;
  width: 50vw !important;
  min-width: 50vw !important;
  max-width: fit-content;
}

.home_screen_instructions_header {
  border: none !important;
  font-size: 1.3em;
}

.home_screen_instructions_footer {
  border: none !important;
}

.home_screen_instructions_body {
  border: none !important;
  font-size: 1.15em;
}

@keyframes game_logo_left_anim {
  from {
    opacity: 0%;
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    opacity: 100%;
  }
}

@keyframes game_logo_right_anim {
  from {
    opacity: 0%;
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    opacity: 100%;
  }
}

@keyframes game_logo_container_anim {
  from {
    gap: 80vw;
  }
  to {
    gap: 3vw;
  }
}

.home_screen_game_logo_left {
  width: 10vw;
  height: 10vw;
  border-radius: 1em;
  animation: 1s ease-in game_logo_left_anim;
  animation-fill-mode: forwards;
}

.home_screen_game_logo_right {
  width: 10vw;
  height: 10vw;
  border-radius: 1em;
  animation: 1s ease-in game_logo_right_anim;
  animation-fill-mode: forwards;
}

.home_screen_image {
  display: flex;
  position: relative;
  height: 10vw;
  justify-content: center;
  animation: 1s ease-in-out game_logo_container_anim;
  animation-fill-mode: forwards;
}

@media only screen and (min-width: 992px) {
  .home_screen_game_logo_right {
    width: 6.5vw;
    height: 6.5vw;
  }

  .home_screen_game_logo_left {
    width: 6.5vw;
    height: 6.5vw;
  }
}

.home_screen_button {
  min-width: 10vw;
}
