.suspect_card {
  background-color: #624f82;
  border-style: solid;
  border-width: 2px;
  border-radius: 1em;
  border-color: #9f73ab;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.suspect_img {
  width: 5vw;
  height: 5vw;
  border-radius: 1em;
}

.suspect_img_question {
  width: 5vw;
  height: 5vw;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.suspect_img_question > i {
  align-self: center;
  color: black;
}
