.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.suspectBank{
    display: flex;
    flex-direction: row;
    border-style: solid;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 40px;
    border-width: 2px;
    border-radius: 3px;
    border-color: #9F73AB;
}

.depositBank{
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: #9F73AB;
}

.group{
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: #9F73AB;
}

.susImage{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}